@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode-transition * {
  @apply transition duration-500 ease-in-out;
}

body {
  @apply bg-gray-200;
  @apply text-black
}

body.dark-mode {
  @apply bg-gray-900;
  @apply text-white
}